<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<form method="POST" action="{% url 'data'%}">-->
<!--    {% csrf_token %}-->
<!--    <label>Email</label>-->
<!--    <input type="email" name="em" placeholder="Enter your e-mail"><br>-->
<!--    <label>Password</label>-->
<!--    <input type="password" name = "ps" placeholder="Enter your password"><br>-->
<!--    <input type="submit" value="save">-->
<!--</form>-->


<!--<table border="5px">-->
<!--    <tr>-->
<!--        <th>Email</th>-->
<!--        <th>Password</th>-->
<!--    </tr>-->
<!--    {% for cus in cus_data%}-->
<!--    <tr>-->
<!--        <td>{{ cus.email }}</td>-->
<!--        <td>{{ cus.password }}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->

<!--</table>-->

<!--    <table border="5px">-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Course</th>-->
<!--        <th>Age</th>-->
<!--        <th>Marks</th>-->
<!--    </tr>-->
<!--    {% for d in data %}-->
<!--    <tr>-->
<!--        <td>{{ d.name.0 }}</td>-->
<!--        <td>{{ d.course.0 }}</td>-->
<!--        <td>{{ d.age.0 }}</td>-->
<!--        <td>{{ d.marks.0 }}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--    </table>-->

</body>
</html>