<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="{% url 'data'%}">
    {% csrf_token %}
    <label>Email</label>
    <input type="email" name="em" placeholder="Enter your e-mail"><br>
    <label>Password</label>
    <input type="password" name = "ps" placeholder="Enter your password"><br>
    <input type="submit" value="save">
</form>


<table border="5px">
    <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Actions</th>
    </tr>
    {% for cus in cus_data%}
    <tr>
        <td>{{ cus.email }}</td>
        <td>{{ cus.password }}</td>
        <td><a href="{% url 'delete' cus.pk %}" onclick="return confirm('Are you sure?')">Delete</a>  <a href="{% url 'update' cus.pk %}" onclick="return confirm('Are you sure?')">Update</a></td>
    </tr>
    {% endfor %}

</table>
</body>
</html>